body {
  margin: 0;
}

h1 {

}

h2 {

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

footer {
  background-color: white;
}

main {
  background-color: rgba(50,150,60,.7);
  /* margin: 0; */
  padding: 15px;
}

#quotation {
  font-size: 1.1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 85%;
  background-color: white;
  padding: 10px;
}

#attribution {
  margin-left: 50px;
}

#more-info {
  text-align: center;
}

#credit {
  text-align: center;
  font-size: .8em;
}
