/*********************/
/* CLASSES */
/*********************/

.white-background {
  background-color: white;
}

.green-border {
  border: 4px solid green;
  border-radius: 4px;
}

/*********************/
/* RESPONSIVE SIZING */
/*********************/

@media (max-width: 800px) {
  img {
    display: block;
    max-width: 80%;
    max-height: auto;
    margin: 20px auto 0 auto;
    padding: 0;
  }
}
@media (max-width: 1200px) {
  .textbox {
    display: block;
    float: left;
    min-width: 400px;
    margin: 20px 0;
  }
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(50,150,60,.7);
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  min-height: 100%;
  position: relative;
  margin: 20px 0 0 0;
  padding: 0;
}

header {
  margin: auto;
  padding: 10px;
  width: 640px;
  height: auto;
}

h1 {
  margin: 10px;
  padding: 0;
}

h2 {
  margin: 20px;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 20px auto 0 auto;
  padding: 0;
}

section {
  padding: 5px 15px 5px 5px;
  display: block;
  float: left;
  max-width: 50%;
}

aside {
  margin: 80px 0 0 0;
  padding: 10px 30px;
  display: block;
  float: right;
  max-width: 40%;
  font-size: 1.1em;
}

footer {
  position: relative; /* THIS was what finally did it! :D */
  bottom: 0;
  width: 100%;
  height: 30px;
  clear: both;
  margin-top: 10px;
  padding: 10px 0 0 0;
}

#intro {
  width: 70%;
  text-align: center;
  margin: auto;
}

#img-div {
  max-width: 100%;
  max-height: auto;
}

#main-content {
  padding: 15px 15px 70px 15px;
  width: 100%;
}

#img-caption {
  font-style: italic;
}

#tribute-info {
  margin: 0 40px;
  padding: 0;
  display: block;
  overflow: auto;
}

#attribution {
  margin-left: 50px;
}

#more-info {
  display: inline-block;
  clear: both;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#wiki-link {
  width: 40%;
  padding: 20px;
  margin: 0 0 0 45px;
}

#credit {
  width: 100%;
  height: 100%;
  top: 50%;
  text-align: center;
  font-size: .8em;
  margin: 0;
  padding: 0;
}
