.white-background {
  background-color: white;
}

/* .green-border {
  border: 2px bevel green;
} */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

main {
  border: 3px solid blue; /* TEST CODE */
  background-color: rgba(50,150,60,.7);
  /* margin: 0; */
  min-height: 100%;
  position: relative;
}

header {
  padding: 10px;
}

h1 {
  /**/
}

h2 {
  /**/
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

section {
  border: 3px solid red; /* TEST CODE */
  display: block;
  float: left;
  display: block;
  float: left;
  max-width: 40%;
  /* clear: all; */
}

aside {
  border: 3px solid orange; /* TEST CODE */
  display: block;
  float: right;
  max-width: 40%;
  font-size: 1.1em;
}

footer {
  position: relative; /* THIS was what finally did it! :D */
  bottom: 0;
  width: 100%;
  height: 60px;
  clear: both;
}

#intro {
  border: 3px solid purple; /* TEST CODE */
  max-width: 70%;
  text-align: center;
  margin: auto;
}

#main-content {
  padding: 15px 15px 70px 15px;
}

#attribution {
  margin-left: 50px;
}

#more-info {
  /* text-align: center; */
  display: block;
  clear; both;
  width: 100%;
}

#credit {
  border: 1px solid purple; /* TEST CODE */
  width: 100%;
  height: 18px;
  text-align: center;
  font-size: .8em;
  margin-top: 30px;
}
